# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Build
dist/
build/
.next/
out/

# Debug / OS
.DS_Store
*.log
npm-debug.log*

# IDE
.idea/
.vscode/*
!.vscode/extensions.json

# Prisma
*.db
*.db-journal

# Testing
coverage/
